<div class="container_meal_plan_new">
  <div class="form_for">
    <div class="calories-form" style="visibility: hidden;">
      <%= simple_form_for :meal_params, url: meal_plans_path, method: :post do |f| %>
      <%= f.input :calories, label: false, placeholder: 'calories' %>
    </div>
    <div class="diet_type_icon">
      <h4>Desired Calories per Day</h4>
      <ul class="row meal_plan_icon">
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 kcal">
            <span class="icon"> <%= image_tag "1500kcal.png" %></span>
            <span class="text"><span id="calories">1500</span> Kcal</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 kcal">
            <span class="icon"> <%= image_tag "1800kcal.png" %></span>
            <span class="text"><span id="calories">1800</span> Kcal</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 kcal">
            <span class="icon"> <%= image_tag "2100kcal.png" %></span>
            <span class="text"><span id="calories">2100</span> Kcal</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 kcal">
            <span class="icon"> <%= image_tag "2400kcal.png" %></span>
            <span class="text"><span id="calories">2400</span> Kcal</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 kcal">
            <span class="icon"> <%= image_tag "3000kcal.png" %></span>
            <span class="text"><span id="calories">3000</span> Kcal</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="diettype-form" style="visibility: hidden;">
      <%= f.input :diet_type, label: false, placeholder: 'diet type' %>
    </div>
    <div class="diet_type_icon">
      <h4>Browse by Diet (optional)</h4>
      <ul class="row meal_plan_icon">
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 type">
            <span class="icon"> <%= image_tag "healthy.png" %></span>
            <span class="text" id="type-name">Ketogenic</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 type">
            <span class="icon"> <%= image_tag "vegan.png" %></span>
            <span class="text" id="type-name">Vegan</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 type">
            <span class="icon"> <%= image_tag "vegeterian.png" %></span>
            <span class="text" id="type-name">Vegetarian</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 type">
            <span class="icon"> <%= image_tag "lowfat.png" %></span>
            <span class="text" id="type-name">Paleo</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3 type">
            <span class="icon"> <%= image_tag "lowcrab.png" %></span>
            <span class="text" id="type-name">Whole 30</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="exclusion-form" style="visibility: hidden;">
      <%= f.input :exclusions, label: false, placeholder: 'exclusions' %>
    </div>
    <div class="diet_type_icon">
      <h4>Exclusions (optional)</h4>
      <ul class="row meal_plan_icon">
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "cheese.png" %></span>
            <span class="text">Milk</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "cucumber.png" %></span>
            <span class="text">Eggs</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "hot-pepper.png" %></span>
            <span class="text">Peanuts</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "mushrooms.png" %></span>
            <span class="text">Soy</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "bacon.png" %></span>
            <span class="text">Wheat</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "bacon.png" %></span>
            <span class="text">fish</span>
          </a>
        </li>
        <li class="col-6 col-md-3 col-lg-2">
          <a href="#" class="d-flex flex-column mt-3">
            <span class="icon"> <%= image_tag "bacon.png" %></span>
            <span class="text">Shellfish</span>
          </a>
        </li>
      </ul>
    </div>
    <%= f.submit "Plan your meal", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

