<div class="ingredient-list col-md-8">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active rounded-left" data-toggle="tab" href="#nav-list" role="tab" aria-controls="nav-list" aria-selected="true">List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-right" data-toggle="tab" href="#nav-recipe" role="tab" aria-controls="nav-recipe" aria-selected="false">Recipe</a>
    </li>
  </ul>

  <div class="tab-content mt-4">
    <div class="tab-pane fade show active" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
      <% @meal_plan.doses.each do |dose| %>
        <div class="list-item">
          <h6><%= dose.value %><%= dose.unit %>&nbsp;&nbsp;<%= dose.ingredient.name %></h6>
        </div>
      <% end %>
    </div>

    <div class="tab-pane fade" id="nav-recipe" role="tabpanel" aria-labelledby="nav-recipe-tab">
      <div class="cards">
        <% @meal_plan.meals.each do |meal| %>
          <%= link_to meal_plan_meal_path(@meal_plan), class: 'recipe-link', :action => 'go' do %>
            <div class="recipe-card">
              <%= image_tag meal.image_url, crop: :fill %>
              <div class="recipe-info">
                <h5><%= meal.title %></h5>
                <p>recipe details</p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>
