<div class="banner d-flex justify-content-center flex-column" style="background-image: url('<%= image_path "landing-banner-01.png" %>');" id="landing">
  <div class="title">
    <h1>ChowTime</h1>
    <h2>Meal Prep Made Easy</h2>
    <p>click <a href="#info">here</a> to find more about us or choose a diet type right away</p>
  </div>

<!--   <div class="container d-flex justify-content-between">
    <#%= link_to new_meal_plan_path, :action => 'go' do %>
      <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
        <h2>Omnivore</h2>
      </div>
    <#% end %>
    <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
      <h2>Vegetarian</h2>
    </div>
    <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
      <h2>Vegan</h2>
    </div>
  </div> -->

  <div class="container d-flex">
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to new_meal_plan_path, class: 'diet-card-link' do %>
        <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
          <h2>Omnivore</h2>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to new_meal_plan_path, class: 'diet-card-link' do %>
        <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
          <h2>Vegetarian</h2>
        </div>
      <% end %>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <%= link_to new_meal_plan_path, class: 'diet-card-link' do %>
        <div class="diet-type-card d-flex justify-content-around align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://source.unsplash.com/random');">
          <h2>Vegan</h2>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="banner d-flex justify-content-end align-items-center flex-column" style="background-image: url('<%= image_path "landing-banner-2.png" %>');" id="info">
  <div class="info-container">
    <h2 class="mb-4">Discover healthy meal plans to prepare.</h2>
    <p>
      Our app helps people plan out meals based on personal preferences. We eliminate obstacles and time-consuming steps that are often required for an individual to effectively create a meal plan that suits their palette. Save time and sustain a healthier lifestyle so you can better concentrate on work.
    <br>
      We provide options for users to create meal plans on a weekly basis. The user has the option to either input desired ingredients that produces recommended recipes or choose from a pre-existing diet plan such as omnivore, vegetarian, vegan, and ketogenic. Change your nutritional trajectory by creating a personalized meal plan based on caloric intake, allergies, tastes, and dietary restrictions.
    </p>
  </div>
  <a href="#landing" class="btn btn-secondary mt-3">get your meal plan now</a>
  <a href="#more"><i class="fas fa-chevron-down mb-3"></i></a>
</div>

<div class="banner d-flex justify-content-end align-items-center flex-column" style="background-image: url('<%= image_path "landing-banner-3.png" %>');" id="more">
  <div class="info-container">
    <h2 class="mb-4">Stop eating junk food and feel better.</h2>
    <p>
      Self-care in terms of food consumption is something that is often compromised too easily for the sake of convenience. While it may be appealing at the time, continuously eating fast food can lead to undue health concerns that ultimately diminish one's quality of life. Our app helps people plan out meals based on a user's personal preferences. We eliminate obstacles and time-consuming steps that are often required for an individual to effectively create a meal plan that suits their palette.
    <br>
      Save time and sustain a healthier lifestyle so you can better concentrate on work. In the process of changing eating habits, learn to appreciate cooking. We provide options for users to create meal plans on a weekly basis. The user has the option to either input desired ingredients that produces recommended recipes or choose from a pre-existing diet plan such as omnivore, vegetarian, vegan, and ketogenic. Change your nutritional trajectory by creating a personalized meal plan based on caloric intake, allergies, tastes, and dietary restrictions.
    </p>
  </div>
  <a href="#landing" class="btn btn-secondary mt-3">get your meal plan now</a>
</div>
